<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <div class="container container-login">
        <div class="form-login">
            <h1>Страница не найдена</h1>
        </div>
    </div>

</body>
</html>