.cont{
    font-family: Arial, Helvetica, sans-serif;
    padding: 110px 5% 50px;
    background: #f9f9f9;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.details-page{
    padding: 20px;
    background-color: white;
    min-height: 80vh;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 6%;
}

.main-info img{
    width: 300px;
    height: 190px;
    border-radius:15px;
    object-fit: cover;
}

.main-info h1 {
    font-size: 26px;
    margin: 0 0 15px;
    font-weight: 600;
}

.main-info p {
    background: rgba(0, 0, 0, .48);
    border-radius: 5px;
    color: #fff;
    align-items: center;
    width:fit-content;
    display: flex;
    font-size: 12px;
    padding: 9px 13px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}

.icons{
    margin: 0 0 30px;
    display: flex;
    gap: 20px;
}

.main-info button {
    background-color: #ec6652;
    border-radius: 3px;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.main-info button:hover {
    background-color: #0056b3;
}

.detail-img{
    /* width: 40%; */
    margin-right: 10%;
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 0 40%;
    margin-bottom: 50px;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.detail p{
    color: #777;
    font-style: italic;
} 

.label {
    font-weight: bold;
    color: #333;
}

.btn{
    display: flex;
    flex-direction: column;
}